.welcome-block {
  position: relative;
}

.welcome-block__description {
  margin-bottom: 20px;
  font-size: 50px;
  font-family: 'Good Vibes Pro', serif;
}

.welcome-block__description:first-child {
  margin-top: 50px;
}

.welcome-block__text {
  margin: 0 auto;
  max-width: 500px;
  font-size: 24px;
  margin-bottom: 30px;
  font-family: 'DIN Pro', serif;
}

@media screen and (width > 800px) {
  .welcome-block__description {
    font-size: 80px;
  }

  .welcome-block__text {
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 35px;
    max-width: 1000px;
  }
}
