.name-block {
  position: relative;
  text-align: center;
  //width: 100%;
}

.name-block__main-text {
  font-family: 'Good Vibes Pro', serif;
  font-size: 58px;
  line-height: 1;
  margin-bottom: 30px;
}

.name-block__text {
  font-family: 'DIN Pro', serif;
  font-size: 30px;
  line-height: 1.3;
  text-align: justify;
}

.name-block__names-container {
  width: 300px;
  height: 280px;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 100px);
  color: white;
  opacity: 1;
  z-index: 1;
  font-size: large;
}


.name-block__image {
  display: flex;
  flex-direction: column;
  //margin-top: 30px;
  width: 100%;
  //height: calc(100vh - 30px);
  height: 100vh;
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/golden-wedding-rings-on-the-white-rose-from-the-wedding-bouquet.jpg");
  align-content: center;
}

.name-block__image-overlay {
  position: absolute;
  background-color: black;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.name-block__arrow-down {
  position: absolute;
  width: 60px;
  height: 60px;
  left: calc(50% - 30px);
  bottom: 80px;
  color: white;
  z-index: 2;
}

@media screen and (width > 800px) {
  .name-block__text {
    font-size: 50px;
  }

  .name-block__main-text {
    font-size: 100px;
    margin-bottom: 50px;
  }

  .name-block__names-container {
    width: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
  }
}

